html, body {
   height: 100%;
   font-family:verdana,arial,sans-serif;
   color:#555555;
   background-color:#F4F4F4
}
.logo {
  display:block;
  padding:7px 0 17px 0;
  background-color:#fff;
  color:#3B5999;
  height:28px;
  width:218px;
  margin:10px;
  margin-right:2px;
  margin-left:15px;
  font-size:20px;
  font-weight:700;
  text-align:center;
  text-decoration:none;
  text-shadow:0 0 1px;
  border-radius:2px;
}
.panel{
	width:60% !important;
	margin:auto;
}

.panel-default .panel-heading .panel-body {
  margin:auto;
  background-color:#f9fafb;
  color:#555555;
  float: none;
     margin-left: auto;
     margin-right: auto;
}


.input-group .btn{
	border-left: none;
}
.input-group .btn:hover{
	background-color: white;
	border-color: #ccc;
}
.input-group input{
	border-right: none;
}
.form-control:focus {
  border-color: #ccc;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.glyphicon-search{
	color: #ccc;
}

.dropdown img{
	width: 18px;
}
p{
	  text-align:center;

}
p a img{
	width: 90%;
  text-align:center;

	}
	
.iconpersona{
	width: 38px;
}

.number{
	margin-top: 6px;
	background-color: #eff6fa;
	border-radius: 5px;
}

#question ul{
	font-size: 12px;
}
#question ul li{
	margin-left: 6px;
}

.imgcenter {
     float: none;
     margin-left: auto;
     margin-right: auto;
	 display: block;
    margin: 0 auto;
}

.panel-heading {
	
	background-color:#FFFFFF !important;
}

.show-image {
    position: relative;
    margin:5px;}

.show-image:hover input
  {
  display: block;
  }

.show-image input {
    position:abs
	right:90;
    display:none;
}